<div class="calendar-header">
	<div class="controls">
		<button mat-button (click)="buttonClicked(currentView.MultiYear)">
			{{buttonText}}
			<mat-icon>arrow_drop_down</mat-icon>
		</button>
		<div class="spacer"></div>
		<button mat-icon-button (click)="previousMonth()">
			<mat-icon>chevron_left</mat-icon>
		</button>
		<button mat-icon-button (click)="nextMonth()">
			<mat-icon>chevron_right</mat-icon>
		</button>
	</div>
</div>
<div class="week-header">
	<div class="week-cell">
		Week
	</div>
	<div class="week-cell" *ngFor="let name of weekName">
		{{name}}
	</div>
</div>
<mat-divider></mat-divider>
<div class="calendar-container">
	<div class="main-calendar">
		<div class="week-numbers">
			<div class="week-number" *ngFor="let weekNumber of weekNumbers">
				{{weekNumber}}
			</div>
		</div>
		<div class="month-view">
			<div class="day-container" *ngFor="let day of calendar">
				<div [ngClass]="getCssClass(day)" (click)="selectDate(day.id)">
					{{day.day}}
				</div>
			</div>
		</div>
	</div>
</div>