<div class="container" [ngSwitch]="currentView">
	<app-month-view 
		*ngSwitchCase="'month'"
		[date]="date"
		(buttonClick)="changeView($event)"
		(dateSelected)="selectedDayId = $event"
		[selectedDayId]="selectedDayId"
		[options]="datepickerOptions">
	</app-month-view>
	<app-multi-year-view 
		*ngSwitchCase="'multi-year'"
		(buttonClick)="changeView($event)"
		(yearSelected)="selectedYearId = $event"
		[selectedYearId]="selectedYearId">
	</app-multi-year-view>
	<app-year-view
		*ngSwitchCase="'year-view'">
	</app-year-view>
</div>
